<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/navbar.css" />
    <link rel="stylesheet" href="/stylesheets/body.css" />
</head>
<body>
    <%- include('../partials/_headerimage.ejs') %>
    <div class="pagewrap">
    
        <%- include('../partials/_nav.ejs') %>
        <div class="container">
            <h1>Update Your Profile: <%= User.name %></h1>
            <form action="/index/profile/edit/confirm?_method=PUT" method="POST">
                <div class="flex1">
                    <div class="flex2">
                        <label for="email">Email:</label>
                        <input type="text" name="email" id="email" value="<%= User.contact.email %>" required/>
                    </div>
                        <label for="phone">Phone:</label>
                        <input type="number" name="phone" id="phone" value="<%= User.contact.phone %>" required/>
                    <div class="flex2">
                        <label for="address">Email:</label>
                        <input type="text" name="address" id="address" value="<%= User.contact.address %>" />
                    </div>
                    <div class="flex2">
                        <label for="aboutMe">About Me:</label>
                        <input type="text" name="aboutMe" id="aboutMe" value="<%= User.contact.aboutMe %>" />
                    </div>
                    <div class="subBtn">
                        <button type="submit">Update User</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>