<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/navbar.css" />
    <link rel="stylesheet" href="/stylesheets/body.css" />
</head>
<body>
    <%- include('../partials/_nav.ejs') %>
    
    <h3>User Name: </h3>
    <h1><%= User.userName%></h1>
    <h3>Name: </h3>
    <h1><%= User.name%></h1>
    <h3>Team: </h3>
    <h1><%= User.team%></h1>
    <h3>Email: </h3>
    <h1><%= User.contact.email%></h1>
    <h3>Phone: </h3>
    <h1><%= User.contact.phone%></h1>
    <h3>Adress: </h3>
    <h1><%= User.contact.address%></h1>
    <h3>About Me: </h3>
    <h1><%= User.contact.aboutMe%></h1>

    <a href="profile/edit"><p>Edit Profile</p></a>
    <a href="profile/edit-pass"><p>Edit Password</p></a>
</body>
</html>