<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/navbar.css" />
    <link rel="stylesheet" href="/stylesheets/body.css" />
</head>
<body>
    <%- include('../partials/_headerimage.ejs') %>
    <div class="pagewrap">
    
        <%- include('../partials/_nav.ejs') %>
        <div class="container">
    
            <div class="flex1">
                <div class="flex2">
                    <h3>Name: </h3>
                    <h3>
                        <%= User.name%>
                    </h3>
                </div>
                <div class="flex2">
                    <h3>Team: </h3>
                    <h3>
                        <%= User.team%>
                    </h3>
                </div>
                <div class="flex2">
                    <h3>Email: </h3>
                    <h3>
                        <%= User.contact.email%>
                    </h3>
                </div>
                <div class="flex2">
                    <h3>Phone: </h3>
                    <h3>
                        <%= User.contact.phone%>
                    </h3>
                </div>    
                <div class="flex2">
                    <h3>About Me:</h3>
                    <h3>
                        <%= User.contact.aboutMe %>
                    </h3>
                </div>
            </div>
        </div>
    </div>
</body>
</html>